@use '@angular/material' as mat;

html, body {
    color-scheme: light dark;
    @include mat.theme((
        color: (
            primary: mat.$blue-palette,
            tertiary: mat.$orange-palette,
            theme-type: light,
        ),
        typography: Roboto,
        density: 0
    ));

    // @include mat.toolbar-overrides((
    //     container-background-color: orange,
    //     container-text-color: red,
    // )); 

    margin: 0;
    padding: 0;
}
